In [1]:
import numpy as np
import pandas as pd

## 读取数据

In [2]:
# 成分股数据
df=pd.read_excel("df_all.xlsx",index_col=0)
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600519.SH,20241211,1540.00,1555.00,1530.98,1535.60,1546.59,-10.99,-0.7106,29671.12,4569662.604
1,600519.SH,20241210,1570.00,1579.73,1545.18,1546.59,1518.80,27.79,1.8297,60312.10,9421340.719
2,600519.SH,20241209,1522.02,1529.72,1513.20,1518.80,1521.01,-2.21,-0.1453,19799.86,3008173.586
3,600519.SH,20241206,1513.00,1538.90,1508.07,1521.01,1511.00,10.01,0.6625,32039.69,4883148.600
4,600519.SH,20241205,1510.86,1517.86,1510.00,1511.00,1520.00,-9.00,-0.5921,16141.47,2441318.387

In [3]:
# 沪深300指数数据
df300=pd.read_excel("df_300_w.xlsx",index_col=0)
df300.head()

,成份券代码Constituent Code,成份券名称Constituent Name,交易所Exchange,权重(%)weight,地区,ts_code
0,600519,贵州茅台,上海证券交易所,4.767,SH,600519.SH
1,300750,宁德时代,深圳证券交易所,3.430,SZ,300750.SZ
2,601318,中国平安,上海证券交易所,2.851,SH,601318.SH
3,600036,招商银行,上海证券交易所,2.238,SH,600036.SH
4,300059,东方财富,深圳证券交易所,1.713,SZ,300059.SZ

In [4]:
# 根据权重从大到小选择前20支股票
df20=df300.loc[:19,:]
df20.head()

,成份券代码Constituent Code,成份券名称Constituent Name,交易所Exchange,权重(%)weight,地区,ts_code
0,600519,贵州茅台,上海证券交易所,4.767,SH,600519.SH
1,300750,宁德时代,深圳证券交易所,3.430,SZ,300750.SZ
2,601318,中国平安,上海证券交易所,2.851,SH,601318.SH
3,600036,招商银行,上海证券交易所,2.238,SH,600036.SH
4,300059,东方财富,深圳证券交易所,1.713,SZ,300059.SZ

## 变成时间序列数据
每一列为一个股票在3年的涨跌幅数据

In [5]:
df1=pd.pivot_table(df,index=["trade_date","ts_code"],values=["pct_chg"])
df1.head()

                      pct_chg
trade_date ts_code
20211210   300014.SZ   1.2918
           300015.SZ  -2.9965
           300033.SZ  -3.1319
           300059.SZ  -0.8864
           300122.SZ  -2.1301

找一天算一下涨跌幅

In [6]:
# 300支股票20241211涨跌幅
df_i=df1.query('trade_date == [20211210]')
df_i=df_i.reset_index()
df_i.head()

   trade_date    ts_code  pct_chg
0    20211210  300014.SZ   1.2918
1    20211210  300015.SZ  -2.9965
2    20211210  300033.SZ  -3.1319
3    20211210  300059.SZ  -0.8864
4    20211210  300122.SZ  -2.1301

In [7]:
# 连表
df_i_w=pd.merge(df_i,df300[['权重(%)weight','ts_code']],how='inner',on='ts_code')
df_i_w.head()

   trade_date    ts_code  pct_chg  权重(%)weight
0    20211210  300014.SZ   1.2918        0.297
1    20211210  300015.SZ  -2.9965        0.341
2    20211210  300033.SZ  -3.1319        0.359
3    20211210  300059.SZ  -0.8864        1.713
4    20211210  300122.SZ  -2.1301        0.175

In [8]:
# # len(df_i_w)
# len(df_i)

In [9]:
# 计算
chg=np.sum(np.array(df_i_w['pct_chg'].tolist())/100*np.array(df_i_w['权重(%)weight'].tolist())/100)*100
chg

-0.15933332800000002

In [10]:
df300_daily=pd.read_excel('沪深300指数近3年.xlsx')
df300_daily.head()

H:\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,日期Date,指数代码Index Code,指数中文全称Index Chinese Name(Full),指数中文简称Index Chinese Name,指数英文全称Index English Name(Full),指数英文简称Index Chinese Name,开盘Open,最高High,最低Low,收盘Close,涨跌Change,涨跌幅(%)Change(%),成交量（万手）Volume(M Shares),成交金额（亿元）Turnover,样本数量ConsNumber
0,20211210,300,沪深300指数,沪深300,CSI 300 Index,CSI 300,5046.27,5060.06,5035.81,5055.12,-23.57,-0.46,19369.52,3569.18,300
1,20211213,300,沪深300指数,沪深300,CSI 300 Index,CSI 300,5090.02,5143.84,5079.73,5083.80,28.68,0.57,21180.16,4263.77,300
2,20211214,300,沪深300指数,沪深300,CSI 300 Index,CSI 300,5066.35,5075.21,5038.86,5049.70,-34.11,-0.67,15910.78,3186.86,300
3,20211215,300,沪深300指数,沪深300,CSI 300 Index,CSI 300,5036.28,5060.37,5003.78,5005.90,-43.80,-0.87,15052.98,2910.73,300
4,20211216,300,沪深300指数,沪深300,CSI 300 Index,CSI 300,5006.61,5034.73,4987.22,5034.73,28.83,0.58,14405.39,2914.75,300

In [11]:
df300_daily[df300_daily['日期Date']==20241211]['涨跌幅(%)Change(%)']

727   -0.17
Name: 涨跌幅(%)Change(%), dtype: float64

## 找到指数权重前20支股票的近3年每天的涨跌幅时序数据

In [18]:
ts_code_20=df20['ts_code'].tolist()
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600519.SH,20241211,1540.00,1555.00,1530.98,1535.60,1546.59,-10.99,-0.7106,29671.12,4569662.604
1,600519.SH,20241210,1570.00,1579.73,1545.18,1546.59,1518.80,27.79,1.8297,60312.10,9421340.719
2,600519.SH,20241209,1522.02,1529.72,1513.20,1518.80,1521.01,-2.21,-0.1453,19799.86,3008173.586
3,600519.SH,20241206,1513.00,1538.90,1508.07,1521.01,1511.00,10.01,0.6625,32039.69,4883148.600
4,600519.SH,20241205,1510.86,1517.86,1510.00,1511.00,1520.00,-9.00,-0.5921,16141.47,2441318.387

In [ ]:
dff=pd.DataFrame(columns=list(df.columns))
for i in df.index:
    if df.loc[i,'ts_code'] in ts_code_20:
        dff=pd.concat([dff,df.loc[i,:]])
dff.head()

KeyError: "None of [Index(['600519.SH', '300750.SZ', '601318.SH', '600036.SH', '300059.SZ',\n       '333.SZ', '600900.SH', '600030.SH', '858.SZ', '601166.SH', '601899.SH',\n       '2594.SZ', '600276.SH', '601398.SH', '601328.SH', '2475.SZ', '651.SZ',\n       '600887.SH', '688981.SH', '725.SZ'],\n      dtype='object', name='trade_date')] are in the [index]"

## 开始优化
现在有数据：<br />
1. 沪深300指数数据：df300
2. 沪深300指数近3年每天的数据：df300_daily
3. 成分股近3年每天的数据：df
4. 成分股近3年涨跌幅时序数据：df1
5. 指数权重前20支股票的代码与权重值：df20
<br />

目标是最小化绝对误差，找到一组不超过20支股票买入的权重w

In [13]:
import mfo

In [14]:
# 方法：飞蛾扑火优化算法
lb=np.array([0]*20) # 下界
ub=np.array([1]*20) # 上界
max_i=100
dim=20
pop=100
chgi=df1
chg300=df300_daily[['日期Date','涨跌幅(%)Change(%)']]
p=10 # 惩罚因子
index2codes=ts_code_20

In [15]:
mymfo=mfo.MFO(pop,max_i,dim,ub,lb,chgi,chg300,index2codes,p)

In [17]:
mymfo.run()

AttributeError: 'MFO' object has no attribute 'n'

In [16]:
np.array([1/20]*10)

array([0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05])